doctype html
html
  body
    head
      title Pusher Test
      script(src='https://js.pusher.com/3.0/pusher.min.js')
      script.
        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
        if (window.console && window.console.log) {
        window.console.log(message);
        }
        };
        var pusher = new Pusher('d8c2bc3ad8779ac027e8', {
        encrypted: true
        });
        var channel = pusher.subscribe('test_channel');
        channel.bind('my_event', function(data) {
        alert(data.message);
        });
